*{
    margin: 0;
    padding: 0;
}

.cont-head{
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.item1-ch{
    align-self: center;
    display: flex;
}

#immm1{
    width: 80px;
    height: auto;
    display: block;
    margin-right: 15px;
}

.item1-ch span, .item2-ch span{
    margin-right: 15px;
}
.botton{
    border: 2px gray solid;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 0;
    width: 180px;
}

.mscheda .botton{
    margin: 0 auto;
}
.sez1{
    background-color: rgba(180,208,231,255);
    height: 450px;
    
}
.cont2  {
    width: 920px;
    margin: 0 auto;
    height: 525px;
}

.item1-c2 h1{
    font-size: 50px;
    width: 870px;
}
.cont3{
    display: flex;
    padding-top: 80px;
}

.item1-c3 {
    flex-basis: 40%;

}
.item1-c3 p {
    margin-bottom: 30px;

}
#a1{
    margin-bottom: 40px;
}
#img1 {
    width: 100%;
    height: auto;
    display: block;
}
.item2-c3 {
    flex-basis: 60%;
}

.sez2{
    margin-top: 180px;
}
.cont4{
    width: 720px;
    margin: 0 auto;
    margin-top: 80px;
}

.item1-c4 h1{
    margin-bottom: 30px;
}

.s1{
    margin-left: 32px;
}


.scheda{
    border: 2px black solid;
    flex-basis: calc(100% / 3);
}
.marg   {
    margin: 20px;
} 

.marg1   {
    margin: 20px 0px 20px;
} 
    
.marg3{
    margin: 20px 0;
}
.item2-c4{
    display: flex;
}

.hscheda{
    border-bottom: 2px black solid;
    text-align: center;
    padding: 5px;
    
}

.mscheda h3 ,.mscheda h4 , .mscheda p {
    padding: 15px;
}

.borderbottom{
    border-bottom: 1px black solid;
    width: 50px;
    margin: 10px;
}
.cont5{
    width: 720px;
    margin: 0 auto;
}
.schedas{
    border: 2px black solid;
}

.hschedas{
    border-bottom: 2px solid black;
    text-align: center;
}

.mschedas{
    display: flex;
}

.item1-ss, .item2-ss {
    padding: 10px;
}
.item2-ss{
    flex-basis: 40%;
    text-align: center;
    margin-top: 2px;
}

.item2-ss span{
    border: 2px blue solid;
    padding: 1.5px;
    color: white;
    background-color: blue;
    
}

.p222{
    margin-top: 20px;
}

.item1-ss h4, .item1-ss p {
    padding: 5px;
}

.parte2{
    margin-top: 60px;
    display: flex;
}

#img2{
    width: 55%;
    height: auto;
    display: block;
    margin-right: 40px;
}

.item2-pt2 h4 , .item2-pt2 p ,.item2-pt2 span {
    margin: 0px 0px 20px;
}
.item2-pt2 h4{
    font-size: 20px;
}
.item2-pt2 span{
    border: 2px black solid;
    padding: 3px;
}

.sez4 {
    width: 720px;
    margin: 80px auto 0; 
}

.sez4-pt2{
    display: flex;
    margin-top: 20px;
}

.bellasch2 , .bellasch{
    flex-basis: calc(100% / 3 );
}

.bellasch2{
    margin: 0px 40px;
}

.bellasch h4,.bellasch2 h4 {
    margin-top: 10px;
    margin-bottom: 20px;
}
#img4{
    width: 95%;
    height: auto;
    display: block;
}

#img5{
    width: 95%;
    height: auto;
    display: block;
}

.sez5{
    width: 720px;
    margin: 90px auto;
}

.cont77{
    width: 500px;
    padding: 10px 0;
}

.cont77 h1 {
    margin-bottom: 40px;
}

.cont8{
    display: flex;
}

.item1-c8, .item2-c8 ,.item3-c8 {
    border: 1px black solid;
    background-color: rgb(39, 177, 177);

}


.item1-c8{
    display: flex;
    flex-direction: column;
    margin-left: 0.1px;
}

.item1-c8c , .item2-c8c{
    display: flex;
}
.box{
    width: 15vw; 
    height: 15vw; 
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.item2-c8{
    background-color: beige;
}
.item3-c8{
    margin-right: 0.1px;
}

#img77{
    width: 50%;
    height: auto;
    display: block;
    padding: 20px;
}
.borderbottom1{
    border-bottom: 1px black solid;
    width: 50px;
    margin: 10px 20px;
}

.item2-c8 p ,.item2-c8 span {
    padding: 20px;
    font-size: 12px;
}

.sez7{
    background-color: rgba(180,208,231,255);
}

.cont12{
    width: 720px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.cont12 h2{
    font-size: 35px;
    padding-right: 150px;
}

.cont12 .prv1{
    margin-top: 5px;
    flex-basis: 50%;
    
}

.prv2{
    border: 1px solid black;
    color: white;
    background-color: blue;
    padding: 5px 10px;
}

.sez8 {
    width: 720px;
    margin: 50px auto;
}

.borderb{
    border-bottom: 1px black solid;

}
.sez8 h1{
    margin-bottom: 20px;
}
.spa11{
    margin: 20px 0;
}

footer{
    background-color: black;
}
.sect10{
    width: 720px;
    margin: 0 auto;
    color: wheat;
}

.sect5-1{
    display: flex;
    justify-content: space-between;
}    


.col1 ul, .col2 ul ,.col3 ul ,.col4 ul ,.col5 ul {
    display: flex;
    list-style: none;
    column-gap: 1rem; 
    flex-direction: column;
}

.borderblack{
    width: 50px;
    border-bottom: 1px white solid;
    margin: 20px 0;
}

.box img{
    width: 40%;
    height: auto;
    display: block;
}

#img5555{
    width: 55%;
    height: 20px;
    display: block;
    align-self: center;
}