*{
    margin: 0;
    padding: 0;
}

.cont-head{
    display: flex;
    height: 40px;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
}

.botton{
    border: 2px gray solid;
    background-color: blue;
    color: white;
    border-radius: 2rem;
}
.sez1{
    background-color: blueviolet;
    height: 450px;
}
.cont2  {
    width: 920px;
    margin: 0 auto;
}

.cont3{
    display: flex;
    padding-top: 80px;
}

.item1-c3 {
    flex-basis: 60%;

}
.item1-c3 p {
    margin-bottom: 30px;

}
#a1{
    margin-bottom: 40px;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
.item2-c3. {
    flex-basis: 40%;
}