*{
    margin: 0;
    padding: 0;
}

.cont-head{
    display: flex;
    height: 40px;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
}

.botton{
    border: 2px gray solid;
    background-color: blue;
    color: white;
    border-radius: 2rem;
}
.sez1{
    background-color: blueviolet;
    height: 450px;
}
.cont2  {
    width: 920px;
    margin: 0 auto;
}

.cont3{
    display: flex;
    padding-top: 80px;
}

.item1-c3 {
    flex-basis: 60%;

}
.item1-c3 p {
    margin-bottom: 30px;

}
#a1{
    margin-bottom: 40px;
}
#img1{
    width: 100%;
    height: auto;
    display: block;
}
.item2-c3. {
    flex-basis: 40%;
}

.sez2{
    margin-top: 100px;
}
.cont4{
    width: 720px;
    margin: 0 auto;
    margin-top: 80px;
}

.item1-c4 h1{
    margin-bottom: 30px;
}

.s1{
    margin-left: 30px;
}


.scheda{
    border: 2px black solid;
}
.marg   {
    margin: 20px;
} 

.marg1   {
    margin: 20px 0px 20px;
} 
    
.marg3{
    margin: 20px 0;
}
.item2-c4{
    display: flex;
}

.hscheda{
    border-bottom: 2px black solid;
    text-align: center;
    padding: 5px;
    
}

.mscheda h3 ,.mscheda h4 , .mscheda p {
    padding: 10px;
}

.borderbottom{
    border-bottom: 1px black solid;
    width: 50px;
    margin: 10px;
}
.cont5{
    width: 720px;
    margin: 0 auto;
}
.schedas{
    border: 2px black solid;
}

.hschedas{
    border-bottom: 2px solid black;
    text-align: center;
}

.mschedas{
    display: flex;
}

.item1-ss, .item2-ss {
    padding: 10px;
}
.item2-ss{
    flex-basis: 40%;
    text-align: center;
    margin-top: 2px;
}

.item2-ss span{
    border: 2px black solid;
    padding: 1.5px;
    color: white;
    background-color: blue;
    border-radius: 2rem;
}

.p222{
    margin-top: 20px;
}

.item1-ss h4, .item1-ss p {
    padding: 5px;
}

.parte2{
    margin-top: 60px;
    display: flex;
}

#img2{
    width: 55%;
    height: auto;
    display: block;
    margin-right: 40px;
}

.item2-pt2 h4 , .item2-pt2 p ,.item2-pt2 span {
    margin: 0px 0px 20px;
}
.item2-pt2 span{
    border: 2px black solid;
    padding: 3px;
}

.sez4 {
    width: 720px;
    margin: 80px auto 0; 
}

.sez4-pt2{
    display: flex;
    margin-top: 20px;
}

.bellasch2{
 
    margin: 0px 30px;
}
#img4{
    width: 95%;
    height: auto;
    display: block;
}

#img5{
    width: 95%;
    height: auto;
    display: block;
}

.sez5{
    width: 720px;
    margin: 90px auto;
}

.cont77{
    width: 500px;
    padding: 10px 0;
}

.cont77 h1 {
    margin-bottom: 40px;
}